# Virtual environment
.venv/
venv/
ENV/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# FAISS vector store & eval results
data/faiss_index/
data/eval_results/

# Streamlit
.streamlit/

# OS / IDE
.DS_Store
.idea/
.vscode/
